@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #f4ecea;
  --foreground: #3c2e24;
}

body {
  background: var(--background);
  color: var(--foreground);
}

@theme {
  --font-sans: Raleway, sans-serif;
  --font-serif: "Source Serif 4", serif;
  --font-weight-extrabold: 800;
  --font-weight-semibold: 600;
  --font-weight-regular: 400;
  --font-weight-bold: 700;
}