@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #f4ecea;
  --foreground: #3c2e24;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-raleway), Arial, Helvetica, sans-serif;
}
